.navbar navbar-expand-lg navbar-light bg-light {
    background-color: black;

}

.Logo {
    height: 100px;
    padding-bottom: 5px;


}

.nav-link {
    font-size: 45px;
    margin-left: 100px;
    

}


  